.information {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .information h2 {
    font-weight: 900;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-size: 30px; */
    margin-bottom: 10px;
    color: rgb(122, 23, 23);
    font-size: 25px;
  }
  
  .information h4 {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
  }